<div class="bugs">
  <form (submit)="addBug()">
    <input
      type="text"
      name="inputBug"
      placeholder="Enter bug.."
      class="bug-input"
      [(ngModel)]="inputBug"
    />
    <input type="submit" value="add Bug" class="bug-submit"/>
  </form>
  <div class="bug" *ngFor="let bug of bugs; let i = index">
    <app-spider [content]="bug.content"></app-spider>
    <div class="id">{{i}}</div>
    <div class="content" (click)="bugDone(i)">{{bug.content}}</div>
    <button class="remove" (click)="deleteBug(i)">Delete</button>
  </div>
</div>
